@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #9333ea;
    --color-secondary: #7e22ce;
    --font-sans: 'Outfit', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-300;
}